@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: var(--sugar-white-color);
  color: var(--dark-gray-color);
}

header {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 141px);
  height: auto;
}

footer {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
}

.layout {
  width: 100%;
  height: 100%;
}

.cover-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url("https://source.unsplash.com/featured/?event=");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  filter: blur(5px) brightness(50%);
  box-sizing: border-box;
}
