:root {
  // colors
  --white-color: #fff;
  --nearly-white-color: #ddd;
  --sugar-white-color: #f7f7f7;
  --blue-color: #0070f3;
  --green-color: #4caf50;
  --light-gray-color: lightgray;
  --dark-gray-color: #333;
  --medium-gray-color: #777;
  --light-gray-bg-color: #f8f8f8;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --skeleton-light-color: #f0f0f0;
  --skeleton-dark-color: #e0e0e0;
  --skeleton-green-color: #4caf50;
  --skeleton-green-light-color: #81c784;

  // font sizes
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-24: 24px;

  // spacings
  --margin-8: 8px;
  --margin-10: 10px;
  --margin-20: 20px;
  --margin-45: 45px;
}
